<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{.Artist.Name}} - Groupie Tracker</title>
   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="artist-card">
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />
    <h1>{{.Artist.Name}}</h1>
    <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
    <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
    <p><strong>Members:</strong></p>
    <ul>
      {{range .Artist.Members}}
        <li>{{.}}</li>
      {{end}}
    </ul>
    <div class="concerts">
      <h2>Location:</h2>
      <ul>
        {{range $i, $loc := .Concerts}}
          <li><strong>{{$loc}}</strong></li>
        {{end}}
      </ul>
      <br> 
      <h2>Dates:</h2>
      <ul>
         {{range $i, $Date := .Dates}}
         <li><strong>{{$Date}}</strong></li>
         {{end}}

      </ul>
     <h2>Relation:</h2>
<ul>
  {{range $key, $vals := .Relation}}
    <li><strong>{{$key}}</strong>
      <ul>
        {{range $i, $v := $vals}}
          <li>{{$v}}</li>
        {{end}}
      </ul>
    </li>
  {{end}}
</ul>

    </div>
    <a href="/">← Back to home</a>
  </div>
</body>
</html>
