<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{.Artist.Name}} - Groupie Tracker</title>
   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="artist-card">
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />
    <h1>{{.Artist.Name}}</h1>
    <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
    <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
    <p><strong>Members:</strong></p>
    <ul>
      {{range .Artist.Members}}
        <li>{{.}}</li>
      {{end}}
    </ul>
  <div class="concerts">
  <h2>Concert Locations Map:</h2>
  {{if .Markers}}
    <img
      src="https://staticmap.openstreetmap.de/staticmap.php?size=600x400{{range .Markers}}&markers={{.Lat}},{{.Lon}},red{{end}}"
      alt="Concert Locations Map"
      style="width:100%;max-width:600px;"
    />
    <ul>
      {{range .Markers}}
        <li>{{.Location}} ({{.Lat}}, {{.Lon}})</li>
      {{end}}
    </ul>
  {{else}}
    <p>No locations found.</p>
  {{end}}
</div>
    <a href="/">← Back to home</a>
  </div>
</body>
</html>
