<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>GROUPIE TRACKER</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="title">GROUPIE TRACKER</div>
    <div class="github-container">
      <a href="https://github.com/mohamedhill" target="_blank">
        <i class="fab fa-github github-icon"></i>
      </a>
      <img src="https://avatars.githubusercontent.com/u/75916919?v=4" class="profile-photo" alt="Mohammed Hilli">
      <h4 class="user">MOHAMMED HILLI</h4>
    </div>
    <div class="github-container">
      <a href="https://github.com/badr9907" target="_blank">
        <i class="fab fa-github github-icon"></i>
      </a>
      <img src="https://avatars.githubusercontent.com/u/200811081?v=4" class="profile-photo" alt="Badr Oulhaj">
      <h4 class="user">BADR OULHAJ</h4>
    </div>
  </header>
  <div class="container">
    {{range .Artists}}
      <div class="card" onclick="location.href='/artist/{{.ID}}';">
        <img src="{{.Image}}" alt="{{.Name}}" />
        <h2>{{.Name}}</h2>
        <a href="/artist/{{.ID}}">View Details</a>
      </div>
    {{end}}
  </div>
<form method="GET" action="/" class="filter-form">
  <fieldset>
    <legend>Creation Date</legend>
    <label>From: <input type="number" name="creation_min" min="1900" max="2100"></label>
    <label>To: <input type="number" name="creation_max" min="1900" max="2100"></label>
  </fieldset>
  <fieldset>
    <legend>First Album Year</legend>
    <label>From: <input type="number" name="album_min" min="1900" max="2100"></label>
    <label>To: <input type="number" name="album_max" min="1900" max="2100"></label>
  </fieldset>
  <fieldset>
    <legend>Number of Members</legend>
    <label><input type="checkbox" name="members" value="1">1</label>
    <label><input type="checkbox" name="members" value="2">2</label>
    <label><input type="checkbox" name="members" value="3">3</label>
    <label><input type="checkbox" name="members" value="4">4</label>
    <label><input type="checkbox" name="members" value="5">5</label>
    <label><input type="checkbox" name="members" value="6">6+</label>
  </fieldset>
  <button type="submit">Apply Filters</button>
</form>

</body>
</html>
